In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:

c=pd.read_csv('Fertilizer Prediction.csv')
c

,Temparature,Humidity,Moisture,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Maize,37,0,0,Urea
1,29,52,45,Sugarcane,12,0,36,DAP
2,34,65,62,Cotton,7,9,30,14-35-14
3,32,62,34,Tobacco,22,0,20,28-28
4,28,54,46,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...
94,25,50,32,Pulses,24,0,19,28-28
95,30,60,27,Tobacco,4,17,17,10-26-26
96,38,72,51,Wheat,39,0,0,Urea
97,36,60,43,Millets,15,0,41,DAP
98,29,58,57,Sugarcane,12,0,10,20-20

In [5]:
d= c[['Temparature','Humidity ','Crop Type', 'Nitrogen', 'Potassium','Phosphorous','Fertilizer Name']]
d

,Temparature,Humidity,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,Maize,37,0,0,Urea
1,29,52,Sugarcane,12,0,36,DAP
2,34,65,Cotton,7,9,30,14-35-14
3,32,62,Tobacco,22,0,20,28-28
4,28,54,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...
94,25,50,Pulses,24,0,19,28-28
95,30,60,Tobacco,4,17,17,10-26-26
96,38,72,Wheat,39,0,0,Urea
97,36,60,Millets,15,0,41,DAP
98,29,58,Sugarcane,12,0,10,20-20

In [6]:
crop_data = {}

# Loop through the rows of the DataFrame
for i, row in c.iterrows():
    # Extract the values from the row
    crop_type = row['Crop Type']
    temperature = row['Temparature']
    humidity = row['Humidity ']
    nitrogen = row['Nitrogen']
    potassium = row['Potassium']
    phosphorous = row['Phosphorous']
    fertilizer_name = row['Fertilizer Name']
    
    # Check if the crop type is already in the dictionary
    if crop_type not in crop_data:
        # If it's not, add an empty dictionary for the crop type
        crop_data[crop_type] = {}
    
    # Add the data to the dictionary
    if fertilizer_name not in crop_data[crop_type]:
        crop_data[crop_type][fertilizer_name] = {
            'N': {'min': nitrogen, 'max': nitrogen},
            'P': {'min': phosphorous, 'max': phosphorous},
            'K': {'min': potassium, 'max': potassium},
            
            'humidity': {'min': humidity, 'max': humidity},
            'temperature': {'min': temperature, 'max': temperature}
        }
    else:
        crop_data[crop_type][fertilizer_name]['N']['min'] = min(crop_data[crop_type][fertilizer_name]['N']['min'], nitrogen)
        crop_data[crop_type][fertilizer_name]['N']['max'] = max(crop_data[crop_type][fertilizer_name]['N']['max'], nitrogen)
        crop_data[crop_type][fertilizer_name]['P']['min'] = min(crop_data[crop_type][fertilizer_name]['P']['min'], phosphorous)
        crop_data[crop_type][fertilizer_name]['P']['max'] = max(crop_data[crop_type][fertilizer_name]['P']['max'], phosphorous)
        crop_data[crop_type][fertilizer_name]['K']['min'] = min(crop_data[crop_type][fertilizer_name]['K']['min'], potassium)
        crop_data[crop_type][fertilizer_name]['K']['max'] = max(crop_data[crop_type][fertilizer_name]['K']['max'], potassium)
        
        crop_data[crop_type][fertilizer_name]['humidity']['min'] = min(crop_data[crop_type][fertilizer_name]['humidity']['min'], humidity)
        crop_data[crop_type][fertilizer_name]['humidity']['max'] = max(crop_data[crop_type][fertilizer_name]['humidity']['max'], humidity)
        crop_data[crop_type][fertilizer_name]['temperature']['min'] = min(crop_data[crop_type][fertilizer_name]['temperature']['min'], temperature)
        crop_data[crop_type][fertilizer_name]['temperature']['max'] = max(crop_data[crop_type][fertilizer_name]['temperature']['max'], temperature)

In [7]:
import pandas as pd
c=pd.read_csv('Fertilizer Prediction.csv')
c

,Temparature,Humidity,Moisture,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Maize,37,0,0,Urea
1,29,52,45,Sugarcane,12,0,36,DAP
2,34,65,62,Cotton,7,9,30,14-35-14
3,32,62,34,Tobacco,22,0,20,28-28
4,28,54,46,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...
94,25,50,32,Pulses,24,0,19,28-28
95,30,60,27,Tobacco,4,17,17,10-26-26
96,38,72,51,Wheat,39,0,0,Urea
97,36,60,43,Millets,15,0,41,DAP
98,29,58,57,Sugarcane,12,0,10,20-20

In [8]:
d = c[c['Fertilizer Name'] == 'Urea']
d['Nitrogen'].min()

35

In [9]:
c['Fertilizer Name'].unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10-26-26'], dtype=object)

In [10]:
import numpy as np

In [11]:
d= c[['Temparature','Humidity ','Crop Type', 'Nitrogen', 'Potassium','Phosphorous','Fertilizer Name']]
d

,Temparature,Humidity,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,Maize,37,0,0,Urea
1,29,52,Sugarcane,12,0,36,DAP
2,34,65,Cotton,7,9,30,14-35-14
3,32,62,Tobacco,22,0,20,28-28
4,28,54,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...
94,25,50,Pulses,24,0,19,28-28
95,30,60,Tobacco,4,17,17,10-26-26
96,38,72,Wheat,39,0,0,Urea
97,36,60,Millets,15,0,41,DAP
98,29,58,Sugarcane,12,0,10,20-20

In [12]:
import pandas as pd
c=pd.read_csv('Fertilizer Prediction.csv')
c

,Temparature,Humidity,Moisture,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Maize,37,0,0,Urea
1,29,52,45,Sugarcane,12,0,36,DAP
2,34,65,62,Cotton,7,9,30,14-35-14
3,32,62,34,Tobacco,22,0,20,28-28
4,28,54,46,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...
94,25,50,32,Pulses,24,0,19,28-28
95,30,60,27,Tobacco,4,17,17,10-26-26
96,38,72,51,Wheat,39,0,0,Urea
97,36,60,43,Millets,15,0,41,DAP
98,29,58,57,Sugarcane,12,0,10,20-20

In [14]:
list(c['Fertilizer Name'].unique())

['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20', '10-26-26']

In [15]:
my_list = ['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20', '10-26-26']
import random
random_elements = list(random.sample(my_list, 3))
random_elements

['14-35-14', 'Urea', '17-17-17']