In [132]:
import pandas as pd
c=pd.read_csv('dataset/Indian_Cities_Database.csv')
c

             City        Lat       Long country iso2           State
0          Abohar  30.144533  74.195520   India   IN          Punjab
1        Adilabad  19.400000  78.310000   India   IN       Telangana
2        Agartala  23.836049  91.279386   India   IN         Tripura
3            Agra  27.187935  78.003944   India   IN   Uttar Pradesh
4      Ahmadnagar  19.094571  74.738432   India   IN     Maharashtra
..            ...        ...        ...     ...  ...             ...
208  Vizianagaram  18.113290  83.397743   India   IN  Andhra Pradesh
209      Warangal  17.978423  79.600209   India   IN       Telangana
210    Jorapokhar  23.700000  86.412670   India   IN       Jharkhand
211  Brajrajnagar  21.820000  83.920000   India   IN          Odisha
212       Talcher  20.950000  85.230000   India   IN          Odisha

[213 rows x 6 columns]

In [ ]:
cc= c[['State','Lat','Long']]
cc

In [134]:
lat_long=[]
visited = []
for i in cc['State']:
        if(i not in visited):
            b = cc[cc['State']==i]
            latc = b['Lat'].mean()
            longc = b['Long'].mean()
            # print(i,latc,longc)
            visited.append(i)
            dict = {i:{'Lat':latc,'Long': longc}
            }
            lat_long.append(dict)
lat_long

[{'Punjab': {'Lat': 31.125536166666663, 'Long': 75.49268766666667}},
 {'Telangana': {'Lat': 17.930004, 'Long': 78.92139399999999}},
 {'Tripura': {'Lat': 23.836049, 'Long': 91.279386}},
 {'Uttar Pradesh': {'Lat': 27.558369, 'Long': 79.53375439285715}},
 {'Maharashtra': {'Lat': 19.437894555555555, 'Long': 75.37090572222222}},
 {'Gujarat': {'Lat': 22.172131999999998, 'Long': 71.82683088888889}},
 {'Mizoram': {'Lat': 23.736701, 'Long': 92.714596}},
 {'Rajasthan': {'Lat': 26.46041323076923, 'Long': 75.00427223076925}},
 {'Kerala': {'Lat': 9.611407, 'Long': 76.3798488}},
 {'West Bengal': {'Lat': 23.729951444444445, 'Long': 88.26926788888889}},
 {'Haryana': {'Lat': 29.30676490909091, 'Long': 76.58581309090908}},
 {'Bihar': {'Lat': 25.384672, 'Long': 85.71918683333332}},
 {'Jammu and Kashmir': {'Lat': 33.837129000000004, 'Long': 74.61865275}},
 {'Karnataka': {'Lat': 14.8084356, 'Long': 76.3993348}},
 {'Chhattisgarh': {'Lat': 21.50752233333333, 'Long': 81.739087}},
 {'Madhya Pradesh': {'Lat': 23.67546114285714, 'Long': 77.27517714285715}},
 {'Odisha': {'Lat': 20.797267124999998, 'Long': 85.030559}},
 {'Chandigarh': {'Lat': 30.736292, 'Long': 76.788398}},
 {'Tamil Nadu ': {'Lat': 10.821000944444442, 'Long': 78.45747294444442}},
 {'Andhra Pradesh': {'Lat': 16.059975133333335, 'Long': 80.27575453333334}},
 {'Daman and Diu': {'Lat': 20.564715, 'Long': 71.910156}},
 {'Uttarakhand': {'Lat': 30.324427, 'Long': 78.033922}},
 {'Delhi': {'Lat': 28.625976, 'Long': 77.21574749999999}},
 {'Jharkhand': {'Lat': 23.413133000000002, 'Long': 86.0949815}},
 {'Assam': {'Lat': 26.334961833333335, 'Long': 93.0454855}},
 {'Sikkim': {'Lat': 27.325739, 'Long': 88.612155}},
 {'Manipur': {'Lat': 24.808053, 'Long': 93.944203}},
 {'Arunachal Pradesh': {'Lat': 27.102349, 'Long': 93.692047}},
 {'Lakshadweep': {'Lat': 10.566667, 'Long': 72.616667}},
 {'Nagaland': {'Lat': 25.674673, 'Long': 94.110988}},
 {'Goa': {'Lat': 15.498289, 'Long': 73.824541}},
 {'Andaman and Nicobar Islands': {'Lat': 11.666667, 'Long': 92.75}},
 {'Puducherry': {'Lat': 11.933812, 'Long': 79.829792}},
 {'Meghalaya': {'Lat': 25.573987, 'Long': 91.896807}},
 {'Himachal Pradesh': {'Lat': 31.104423, 'Long': 77.166623}},
 {'Dadra and Nagar Haveli': {'Lat': 20.273855, 'Long': 72.996728}}]

In [135]:
import pandas as pd
state_data = [{'Punjab': {'Lat': 31.125536166666663, 'Long': 75.49268766666667}},
 {'Telangana': {'Lat': 17.930004, 'Long': 78.92139399999999}},
 {'Tripura': {'Lat': 23.836049, 'Long': 91.279386}},
 {'Uttar Pradesh': {'Lat': 27.558369, 'Long': 79.53375439285715}},
 {'Maharashtra': {'Lat': 19.437894555555555, 'Long': 75.37090572222222}},
 {'Gujarat': {'Lat': 22.172131999999998, 'Long': 71.82683088888889}},
 {'Mizoram': {'Lat': 23.736701, 'Long': 92.714596}},
 {'Rajasthan': {'Lat': 26.46041323076923, 'Long': 75.00427223076925}},
 {'Kerala': {'Lat': 9.611407, 'Long': 76.3798488}},
 {'West Bengal': {'Lat': 23.729951444444445, 'Long': 88.26926788888889}},
 {'Haryana': {'Lat': 29.30676490909091, 'Long': 76.58581309090908}},
 {'Bihar': {'Lat': 25.384672, 'Long': 85.71918683333332}},
 {'Jammu and Kashmir': {'Lat': 33.837129000000004, 'Long': 74.61865275}},
 {'Karnataka': {'Lat': 14.8084356, 'Long': 76.3993348}},
 {'Chhattisgarh': {'Lat': 21.50752233333333, 'Long': 81.739087}},
 {'Madhya Pradesh': {'Lat': 23.67546114285714, 'Long': 77.27517714285715}},
 {'Odisha': {'Lat': 20.797267124999998, 'Long': 85.030559}},
 {'Chandigarh': {'Lat': 30.736292, 'Long': 76.788398}},
 {'Tamil Nadu ': {'Lat': 10.821000944444442, 'Long': 78.45747294444442}},
 {'Andhra Pradesh': {'Lat': 16.059975133333335, 'Long': 80.27575453333334}},
 {'Daman and Diu': {'Lat': 20.564715, 'Long': 71.910156}},
 {'Uttarakhand': {'Lat': 30.324427, 'Long': 78.033922}},
 {'Delhi': {'Lat': 28.625976, 'Long': 77.21574749999999}},
 {'Jharkhand': {'Lat': 23.413133000000002, 'Long': 86.0949815}},
 {'Assam': {'Lat': 26.334961833333335, 'Long': 93.0454855}},
 {'Sikkim': {'Lat': 27.325739, 'Long': 88.612155}},
 {'Manipur': {'Lat': 24.808053, 'Long': 93.944203}},
 {'Arunachal Pradesh': {'Lat': 27.102349, 'Long': 93.692047}},
 {'Lakshadweep': {'Lat': 10.566667, 'Long': 72.616667}},
 {'Nagaland': {'Lat': 25.674673, 'Long': 94.110988}},
 {'Goa': {'Lat': 15.498289, 'Long': 73.824541}},
 {'Andaman and Nicobar Islands': {'Lat': 11.666667, 'Long': 92.75}},
 {'Puducherry': {'Lat': 11.933812, 'Long': 79.829792}},
 {'Meghalaya': {'Lat': 25.573987, 'Long': 91.896807}},
 {'Himachal Pradesh': {'Lat': 31.104423, 'Long': 77.166623}},
 {'Dadra and Nagar Haveli': {'Lat': 20.273855, 'Long': 72.996728}}]
c=pd.read_csv('dataset/Indian_Cities_Database.csv')


a =pd.read_csv('dataset/crop_production.csv')


b= a[['State_Name','Crop','Area','Production']]
b

                         State_Name                 Crop      Area  Production
0       Andaman and Nicobar Islands             Arecanut    1254.0      2000.0
1       Andaman and Nicobar Islands  Other Kharif pulses       2.0         1.0
2       Andaman and Nicobar Islands                 Rice     102.0       321.0
3       Andaman and Nicobar Islands               Banana     176.0       641.0
4       Andaman and Nicobar Islands            Cashewnut     720.0       165.0
...                             ...                  ...       ...         ...
246086                  West Bengal                 Rice     306.0       801.0
246087                  West Bengal              Sesamum     627.0       463.0
246088                  West Bengal            Sugarcane     324.0     16250.0
246089                  West Bengal                 Rice  279151.0    597899.0
246090                  West Bengal              Sesamum     175.0        88.0

[246091 rows x 4 columns]

In [136]:

d =b[b['Crop'] == 'Rice']

d

                         State_Name  Crop       Area  Production
2       Andaman and Nicobar Islands  Rice     102.00      321.00
12      Andaman and Nicobar Islands  Rice      83.00      300.00
18      Andaman and Nicobar Islands  Rice     189.20      510.84
27      Andaman and Nicobar Islands  Rice      52.00       90.17
36      Andaman and Nicobar Islands  Rice      52.94       72.57
...                             ...   ...        ...         ...
246049                  West Bengal  Rice     516.00     1274.00
246052                  West Bengal  Rice  302274.00   730136.00
246058                  West Bengal  Rice     264.00      721.00
246086                  West Bengal  Rice     306.00      801.00
246089                  West Bengal  Rice  279151.00   597899.00

[15104 rows x 4 columns]

In [137]:
list(d['State_Name'].unique())

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir ',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana ',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [138]:
area_mean = d.groupby('State_Name')['Area'].sum()
area_mean

State_Name
Andaman and Nicobar Islands    7.771493e+04
Andhra Pradesh                 4.654831e+07
Arunachal Pradesh              2.209673e+06
Assam                          4.475147e+07
Bihar                          5.773340e+07
Chandigarh                     8.500000e+02
Chhattisgarh                   5.834253e+07
Dadra and Nagar Haveli         2.309820e+05
Goa                            5.522800e+05
Gujarat                        1.094210e+07
Haryana                        1.737199e+07
Himachal Pradesh               9.604880e+05
Jammu and Kashmir              2.564431e+06
Jharkhand                      7.726361e+06
Karnataka                      2.486642e+07
Kerala                         4.512943e+06
Madhya Pradesh                 2.758377e+07
Maharashtra                    2.567246e+07
Manipur                        1.628585e+06
Meghalaya                      1.885907e+06
Mizoram                        7.303320e+05
Nagaland                       2.963650e+06
Odisha                         8.634704e+07
Puducherry                     3.851970e+05
Punjab                         4.809900e+07
Rajasthan                      1.883061e+06
Sikkim                         2.256170e+05
Tamil Nadu                     3.238690e+07
Telangana                      2.384231e+07
Tripura                        4.288487e+06
Uttar Pradesh                  1.033803e+08
Uttarakhand                    4.437218e+06
West Bengal                    1.019935e+08
Name: Area, dtype: float64

In [139]:
prod_mean = d.groupby('State_Name')['Production'].mean()
prod_mean

State_Name
Andaman and Nicobar Islands     13118.003529
Andhra Pradesh                 298840.862786
Arunachal Pradesh                9924.822711
Assam                           52950.656342
Bihar                           57478.402249
Chandigarh                        296.384615
Chhattisgarh                   279104.856164
Dadra and Nagar Haveli          14673.064516
Goa                             37690.631579
Gujarat                         55639.067055
Haryana                        164394.333333
Himachal Pradesh                10752.651515
Jammu and Kashmir               30493.291852
Jharkhand                       33160.405022
Karnataka                       55093.784762
Kerala                          15264.189597
Madhya Pradesh                  36879.411215
Maharashtra                     65964.153374
Manipur                         35988.766355
Meghalaya                       12347.811189
Mizoram                         12112.808511
Nagaland                        27735.736842
Odisha                          89054.990306
Puducherry                       8803.196429
Punjab                         531662.721893
Rajasthan                        9009.154362
Sikkim                           5321.333333
Tamil Nadu                     201860.213710
Telangana                      221072.447284
Tripura                        133562.637500
Uttar Pradesh                  135812.140906
Uttarakhand                     37379.995935
West Bengal                    266349.689370
Name: Production, dtype: float64

In [143]:
n = 'Litchi'

import pandas as pd
state_data = {'Punjab': {'Lat': 31.125536166666663, 'Long': 75.49268766666667},
 'Telangana ': {'Lat': 17.930004, 'Long': 78.92139399999999},
 'Tripura': {'Lat': 23.836049, 'Long': 91.279386},
 'Uttar Pradesh': {'Lat': 27.558369, 'Long': 79.53375439285715},
 'Maharashtra': {'Lat': 19.437894555555555, 'Long': 75.37090572222222},
 'Gujarat': {'Lat': 22.172131999999998, 'Long': 71.82683088888889},
 'Mizoram': {'Lat': 23.736701, 'Long': 92.714596},
 'Rajasthan': {'Lat': 26.46041323076923, 'Long': 75.00427223076925},
 'Kerala': {'Lat': 9.611407, 'Long': 76.3798488},
 'West Bengal': {'Lat': 23.729951444444445, 'Long': 88.26926788888889},
 'Haryana': {'Lat': 29.30676490909091, 'Long': 76.58581309090908},
 'Bihar': {'Lat': 25.384672, 'Long': 85.71918683333332},
 'Jammu and Kashmir ': {'Lat': 33.837129000000004, 'Long': 74.61865275},
 'Karnataka': {'Lat': 14.8084356, 'Long': 76.3993348},
 'Chhattisgarh': {'Lat': 21.50752233333333, 'Long': 81.739087},
 'Madhya Pradesh': {'Lat': 23.67546114285714, 'Long': 77.27517714285715},
 'Odisha': {'Lat': 20.797267124999998, 'Long': 85.030559},
 'Chandigarh': {'Lat': 30.736292, 'Long': 76.788398},
 'Tamil Nadu': {'Lat': 10.821000944444442, 'Long': 78.45747294444442},
 'Andhra Pradesh': {'Lat': 16.059975133333335, 'Long': 80.27575453333334},
 'Daman and Diu': {'Lat': 20.564715, 'Long': 71.910156},
 'Uttarakhand': {'Lat': 30.324427, 'Long': 78.033922},
 'Delhi': {'Lat': 28.625976, 'Long': 77.21574749999999},
 'Jharkhand': {'Lat': 23.413133000000002, 'Long': 86.0949815},
 'Assam': {'Lat': 26.334961833333335, 'Long': 93.0454855},
 'Sikkim': {'Lat': 27.325739, 'Long': 88.612155},
 'Manipur': {'Lat': 24.808053, 'Long': 93.944203},
 'Arunachal Pradesh': {'Lat': 27.102349, 'Long': 93.692047},
 'Lakshadweep': {'Lat': 10.566667, 'Long': 72.616667},
 'Nagaland': {'Lat': 25.674673, 'Long': 94.110988},
 'Goa': {'Lat': 15.498289, 'Long': 73.824541},
 'Andaman and Nicobar Islands': {'Lat': 11.666667, 'Long': 92.75},
 'Puducherry': {'Lat': 11.933812, 'Long': 79.829792},
 'Meghalaya': {'Lat': 25.573987, 'Long': 91.896807},
 'Himachal Pradesh': {'Lat': 31.104423, 'Long': 77.166623},
 'Dadra and Nagar Haveli': {'Lat': 20.273855, 'Long': 72.996728}}

a =pd.read_csv('dataset/crop_production.csv')
a =a.dropna()
b= a[['State_Name','Crop','Area','Production']]
c= b[b['Crop']==n]
d =list(c['State_Name'].unique())
area_mean = c.groupby('State_Name')['Area'].sum()
prod_mean = c.groupby('State_Name')['Production'].mean()
import folium
m = folium.Map(location=[20.5937, 78.9629], zoom_start=5)

m1 = folium.FeatureGroup(name='crop_map')
for i in d:
    # print(state_data[i])
    if((prod_mean[i])==0):
        continue
    popup_html = f'<table><tr><th>Crop Name:</th><td>{n}</td></tr><tr><th>State Name:</th><td>{i}</td></tr><tr><th>Area:</th><td><br>{int(area_mean[i])} acre</td></tr><tr><th>Production:</th><td><br>{int(prod_mean[i])} pounds</td></tr></table>'
    m1.add_child(folium.Marker(location=[state_data[i]['Lat'],state_data[i]['Long']], popup=popup_html, icon=folium.Icon(color='green')))
m.add_child(m1)
# m.save('templates/my_map.html')

In [141]:
d = c.groupby('State_Name')['Production'].sum()
d['Rajasthan']

KeyError: 'Rajasthan'

In [ ]:
a =pd.read_csv('dataset/crop_production.csv')

list(a['State'].unique())

KeyError: 'State'

In [ ]:
a =pd.read_csv('dataset/crop_production.csv')

a['Crop'].nunique()

124

In [148]:
a[a['Crop']=='Cucumber']['State_Name'].unique()

array(['Andhra Pradesh', 'Tamil Nadu', 'Telangana '], dtype=object)

In [4]:
import pandas as pd

a = pd.read_csv('dataset/crops1.csv')
a

,N,P,K,temperature(in degree celsius),humidity(in percentage),ph of soil,rainfall( in mm ),label,water-availability(liters per year)
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,3000.000000
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,3020.000000
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,3040.000000
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,3060.000000
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,3080.000000
...,...,...,...,...,...,...,...,...,...
2216,50,24,23,32.077828,53.504702,5.186219,838.966732,fingermillet,13.430188
2217,47,27,30,30.485813,58.543432,5.418105,859.584779,fingermillet,24.904736
2218,48,29,28,23.913812,51.840114,5.423207,864.427018,fingermillet,24.726521
2219,44,25,20,21.325485,55.819615,5.242016,871.432052,fingermillet,14.025749
2220,42,30,20,28.112571,60.167330,6.455560,891.570795,fingermillet,44.588446

In [12]:
b = list(a['label'].unique())
for i in b:
    print(i)

rice
maize
chickpea
kidneybeans
pigeonpeas
mothbeans
mungbean
blackgram
lentil
pomegranate
banana
mango
grapes
watermelon
muskmelon
apple
orange
papaya
coconut
cotton
Sapota
fingermillet

In [11]:
dict ={}
for i in b:
    # print(i,a[a['label'] == i]['water-availability(liters per year)'].mean())
    dict[i] =a[a['label'] == i]['water-availability(liters per year)'].mean()
dict

{'rice': 3990.2,
 'maize': 0.0006487899999999999,
 'chickpea': 0.00033079,
 'kidneybeans': 0.015198,
 'pigeonpeas': 0.03434308511,
 'mothbeans': 0.00055734474,
 'mungbean': 0.0024994308000000002,
 'blackgram': 0.00155628885,
 'lentil': 0.0021928924300000006,
 'pomegranate': 0.952495,
 'banana': 0.00105345,
 'mango': 10.534499999999998,
 'grapes': 35.345000000000006,
 'watermelon': 4.003899999999998,
 'muskmelon': 10397.402299999998,
 'apple': 1.126225,
 'orange': 1.0009603999999999,
 'papaya': 17.435,
 'coconut': 4555.0,
 'cotton': 108274.5,
 'Sapota': 2127.9416666666666,
 'fingermillet': 35.76485538178218}